.custom-img-1 {
    background-image: url("../../../assets/img/article1.jpg");
}

.custom-img-2 {
    background-image: url("../../../assets/img/article2.jpg");
}

.custom-img-3 {
    background-image: url("../../../assets/img/article3.jpg");
}

.custom-img-4 {
    background-image: url("../../../assets/img/article4.jpg");
}