<section
  class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-1 transition-all"
>
  <div
    class="p-5 text-2xl text-white rounded-md bg-teal-500 font-semibold hover:scale-110 bg-opacity-50 animate__animated animate__pulse animate__delay-1s animate__infinite"
  >
    Welcome to my site!
  </div>
</section>
<section class="h-96 my-auto">
  <h1
    class="flex justify-center my-10 text-6xl text-stone-600 hover:text-sky-400 rounded-xl"
  >
    Seccion Uno
  </h1>
  <div
    class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
    atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
  </div>
</section>
<section
  class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-2"
>
  <div
    class="p-5 text-2xl text-white bg-green-700 bg-opacity-50 font-semibold rounded-xl animate__animated animate__pulse animate__delay-1s animate__infinite"
  >
    Welcome to my site!
  </div>
</section>
<section class="my-auto h-96">
  <h1
    class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400"
  >
    Seccion Dos
  </h1>
  <div
    class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
    atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
  </div>
</section>
<section
  class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-3"
>
  <div
    class="p-5 text-2xl text-white bg-blue-700 bg-opacity-50 font-semibold rounded-xl animate__animated animate__pulse animate__delay-1s animate__infinite"
  >
    Welcome to my site!
  </div>
</section>
<section class="my-auto h-96">
  <h1
    class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400"
  >
    Seccion Tres
  </h1>
  <div
    class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
    atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
  </div>
</section>
<section
  class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img-4"
>
  <div
    class="p-5 text-2xl text-white bg-slate-600 bg-opacity-50 rounded-xl font-semibold animate__animated animate__pulse animate__delay-1s animate__infinite"
  >
    Welcome to my site!
  </div>
</section>
<section class="my-auto h-96">
  <h1
    class="flex justify-center my-10 text-6xl text-stone-600 hover:scale-105 hover:text-sky-400"
  >
    Seccion Cuatro
  </h1>
  <div
    class="flex justify-center items-center max-w-6xl mx-auto text-justify px-6"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto
    atque aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam vero iusto atque
    aspernatur obcaecati ab, ad dignissimos ea molestias voluptatibus a et
    reprehenderit rerum dolorum magnam in nisi laborum exercitationem?
  </div>
</section>
